numpy~=1.18.5
torch~=1.5.0
torchvision=0.6.0
pillow=4.2.1
pyyaml~=5.3.1
torchvision~=0.6.0a0+82fd1c8
Pillow~=7.2.0
SimpleITK~=1.2.4
opencv-python~=4.4.0.42
scipy~=1.5.2
scikit-image~=0.17.2
h5py~=2.10.0
nibabel~=3.1.1
pandas~=1.1.2
matplotlib~=3.3.1
dominate~=2.5.2
torchfile~=0.1.0
argparse~=1.4.0
visdom